.logo img{
	height: 100px;
}

.menu{
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 20px !important;
	border-left:  1px solid #666 !important;
	font-size: 20px !important;
}

.menu:first-child{
	border-left: none !important;
}
.menu a{
	color: #666;
	text-decoration: none;
}

<<<<<<< HEAD
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.logo img{
	height: 100px;
}

.menu{
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 20px !important;
	border-left:  1px solid #666 !important;
	font-size: 20px !important;
}

.menu:first-child{
	border-left: none !important;
}
.menu a{
	color: #666;
	text-decoration: none;
}

.menu a:hover{
	opacity: .7;
}
=======
.menu a:hover{
	opacity: .7;
}
>>>>>>> 3a769a234cd5aa8ec02abc9d8c91322f2f98bec4
